###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.synctex.gz
*.synctex(busy)
*.toc
*.xml
_minted*
*.pyc
*.dvi
*.ps

###################################################################
Gimp Files
###################################################################
*.xcf

###################################################################
Miscellaneous
###################################################################
Raw-Images/
Gimp-Projects/
AI\ Generated/
FA_Mapmaking_Pack/
one_shots/stylesheets/images/assets/
one_shots/stylesheets/images/maps/
one_shots/stylesheets/images/textures/
one_shots/Penguins_of_Madagascar/penguins_of_madagascar_main.pdf
