###################################################################
LaTeX Files
###################################################################
*.aux
*.log
*.out
*.gz
*.bbl
*.bcf
*.blg
*.synctex.gz
*.toc
*.xml
_minted*
*.pyc
*.dvi
*.ps

###################################################################
Miscellaneous
###################################################################
Nari_Ennea/
Raw-Images/
Gimp-Projects/